<p id="notice"><%= notice %></p>

<br>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<br>

<%= @patient.inspect %>

<br><br>

<%= link_to 'Edit', edit_patient_path(@patient), :class => "btn btn-primary" %>
<%= link_to 'Back', patients_path, :class => "btn btn-primary" %>

<br><br>
